In [7]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp39-cp39-win_amd64.whl (799 kB)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\dell\anaconda3\envs\tf\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in c:\users\dell\anaconda3\envs\tf\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.16.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.26

In [1]:
# importing necessary libraries
import mysql.connector
import pandas as pd

In [2]:
# connecting mysql server
database = mysql.connector.connect(host="localhost",user="root",passwd= "Pooja@123",database="mydata")
cursor = database.cursor()
query2 = "select*from customers"

In [3]:
cursor.execute(query2)

In [4]:
table_rows = cursor.fetchall()

In [6]:
df = pd.read_sql('SELECT * FROM customers', con=database) 
print(df)

   cust_ID       Nam   Open_date  Consult_dt VAC_ID   Dr_Name State Country  \
0      123    Akshay  2021-09-01  2022-09-02    CSD     Kedar    MH     IND
1      211            2021-08-05  2022-08-05    CSD  Narendra    MH     IND
2      456     Pooja  2021-09-05  2022-10-05    CSD      Jiza    MH     IND
3      678  Narendra  2021-10-11  2022-10-11    CSD      Jiza    MH     IND
4      789     Pooja  2021-05-07  2022-05-07    CSD  Narendra    MH     IND

          DOB Active
0  1994-07-04      A
1  1995-08-04      A
2  1994-11-04      A
3  1996-07-04      B
4  1993-02-01      B

In [7]:
df.set_index(['cust_ID'], inplace=True)  # setting default index
print (df)

              Nam   Open_date  Consult_dt VAC_ID   Dr_Name State Country  \
cust_ID
123        Akshay  2021-09-01  2022-09-02    CSD     Kedar    MH     IND
211                2021-08-05  2022-08-05    CSD  Narendra    MH     IND
456         Pooja  2021-09-05  2022-10-05    CSD      Jiza    MH     IND
678      Narendra  2021-10-11  2022-10-11    CSD      Jiza    MH     IND
789         Pooja  2021-05-07  2022-05-07    CSD  Narendra    MH     IND

                DOB Active
cust_ID
123      1994-07-04      A
211      1995-08-04      A
456      1994-11-04      A
678      1996-07-04      B
789      1993-02-01      B

In [8]:
ans = df.loc[df['Country'] == "IND"]

In [9]:
def show_data(country):
    data = df.loc[df['Country'] == country]
    print(data)

In [12]:
def get_file(country):
    data = df.loc[df['Country'] == country]
    file_name = str(country)
    data.to_csv('C:/Users/DELL/Desktop/pooja/' + country + ".csv")  
    print("File has been created to the specified path")

In [13]:
# calling functions

show_data("IND")
get_file("IND")

              Nam   Open_date  Consult_dt VAC_ID   Dr_Name State Country  \
cust_ID
123        Akshay  2021-09-01  2022-09-02    CSD     Kedar    MH     IND
211                2021-08-05  2022-08-05    CSD  Narendra    MH     IND
456         Pooja  2021-09-05  2022-10-05    CSD      Jiza    MH     IND
678      Narendra  2021-10-11  2022-10-11    CSD      Jiza    MH     IND
789         Pooja  2021-05-07  2022-05-07    CSD  Narendra    MH     IND

                DOB Active
cust_ID
123      1994-07-04      A
211      1995-08-04      A
456      1994-11-04      A
678      1996-07-04      B
789      1993-02-01      B
File has been created to the specified path